services:
  # Python Server (Game Logic & HTML)
  - type: web
    name: python-server
    env: docker
    plan: free
    dockerfilePath: ./python-server/Dockerfile
    dockerContext: ./python-server
    envVars:
      - key: DB_PASS
        sync: false
      - key: PORT
        value: 5001
      - key: GO_SERVER_URL
        sync: false # User must set this to the PUBLIC URL of the Go service

  # Go Server (WebSocket & Proxy)
  - type: web
    name: go-server
    env: docker
    plan: free
    dockerfilePath: ./go-server/Dockerfile
    dockerContext: ./go-server
    envVars:
      - key: PYTHON_SERVER_URL
        value: http://python-server:5001
